<p>{{ "Bonjour,"|trans }}</p>
<p>{{ "Vous vous êtes laissé ce rappel pour <a href=\"%link%\" title=\"ouvrir la fiche du négociateur dans l'application Coaching\">%mandatary%</a> :"|trans({'%link%': app_url ~ path('mandatary_show', {'slug': mandatary.slug}), '%mandatary%': mandatary})|raw }}</p>
<p>{{ content|nl2br|raw }}</p>
